@charset "UTF-8"

body {}

body {background-image: url(pattern003.png);}

h1 {
color: blueviolet;
}

div.quadrado {
display: inline-block;
border: 1px solid black;
width: 300px;
height: 300px;
background-color: grey;
}

div#q1{
background-color: yellow;

}

div#q2{
background-image: linear-gradient(to bottom, yellow, purple);

}

div#q3{
background-image: url(pattern002.png);
}